@define-color eva-purple #7b3fa0;
@define-color eva-green #4aad52;
@define-color eva-orange #e8521a;
@define-color module-bg #0d0d0d;
@define-color muted-col #4a5060;

* { 
  all: none;
  font-size: 13px;
  font-family: "Perfect DOS VGA 437";
  transition: 200ms;
  border-radius: 0;
}

/* Audio slider */
scale trough {
  margin: 0rem 1rem;
  background-color: @module-bg;
  min-height: 8px;
  min-width: 70px;
}

slider {
  background-color: #181818;
}

/* Floating notifs */
.floating-notifications.background .notification-row .notification-background {
  border-radius: 0;
  background-color: @module-bg;
  border: 2px solid @eva-purple;
  color: #eeeeee;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content:hover {
  background-color: @module-bg; /* or whatever color you want */
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .summary {
  font-family: 'JetBrains Mono';
  color: #eeeeee;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .time {
  color: #eeeeee;
  font-family: 'JetBrains Mono';
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .body {
  color: #eeeeee;
  font-family: 'JetBrains Mono';
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

/* Window */
.control-center {
  margin: 18px;
  background-color: @module-bg;
  color: #eeeeee;
  padding: 14px;
  margin-bottom: 20px;
  border: 2px solid @eva-purple;
}

.notification-row > * {
  background-color: @module-bg;
  border: 0;
}

.control-center .widget-title > label {
  color: #eeeeee;
  font-size: 1.1em;
  margin-bottom: 20px;
}

.control-center .notification-row .notification-background {
  color: #eeeeee;
  background-color: @module-bg;
  border: solid 1px @eva-green;
  margin-bottom: 5px;
}

.control-center .notification-row .notification-background .notification {
  padding: 5px;
}

.control-center .notification-row .notification-background .notification:hover {
}

.control-center .notification-row .notification-background .notification .notification-content .text-box .body {
  font-size: large;
}

.control-center .notification-row .notification-background .notification .notification-content .text-box .summary,
.control-center .notification-row .notification-background .notification .notification-content .text-box .time {
  font-size: medium;
}

.control-center .notification-row .notification-background .notification .notification-content .text-box .body,
.control-center .notification-row .notification-background .notification .notification-content .text-box .summary,
.control-center .notification-row .notification-background .notification .notification-content .text-box .time {
  font-family: 'JetBrains Mono';
}

.control-center .notification-row .notification-background .notification.critical {
  border: solid 1px @eva-orange;
}

.notification {
  background-color: @module-bg;
  border: none;
  box-shadow: none;
}

.widget-dnd {
  margin: 0px;
  font-size: x-large;
}

.widget-dnd > label {
  font-size: x-large;
}

.widget-dnd > switch {
  font-size: initial;
  background: #181818;
  border: 1px solid #000000;
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: @eva-orange;
}

.widget-dnd > switch slider {
  background: #eeeeee;
  border: 1px solid black;
}

.widget-mpris {
  font-family: 'JetBrains Mono';
}

.widget-mpris .widget-mpris-player {
  background: #181818;
}

.widget-mpris .widget-mpris-title {
  font-size: 1.2rem;
  font-family: 'JetBrains Mono';
}

.widget-mpris .widget-mpris-subtitle {
  font-family: 'JetBrains Mono';
  font-size: 0.8rem;
}

.image {
  padding-right: 0.5rem;
}

.control-center .notification-row {
  background-color: rgb(0, 0, 0);
}

.widget-title {
  font-size: x-large;
}

.notification-group {
  background-color: @module-bg;
}

.control-center-clear-all {
  margin-top: -15px;
  border: 1px solid @eva-orange;
  background-color: @module-bg;
  border-radius: 0;
}