@define-color eva-purple #7b3fa0;
@define-color eva-green #4aad52;
@define-color eva-orange #e8521a;
@define-color module-bg #0d0d0d;
@define-color muted-col #4a5060;

/* Main */
* {
    font-family: "Perfect DOS VGA 437", monospace;
    font-size: 20px;
    padding: 0;
    margin: 0;
    border-radius: 0px;
}

#waybar {
    color: white;
    background-color: @module-bg;
    border-right: 2px solid @eva-purple;
}

/* Modules */
.modules-left {
    padding: 5px;
    padding-right: 10px;
}

.modules-center {
    padding-top: 10px;
    padding-bottom: 10px;
}

.modules-right {
    padding: 5px;
}

tooltip {
  background: black;
}

tooltip label {
  color: white;
}

#workspaces button {
    font-size: 5px;
    padding-bottom: 3px;
    color: white;
}

#workspaces button.active {
    border-left: 2px solid @eva-green;
    color: @muted-col;
    background-color: transparent;
}

#workspaces button.empty {
    color: white;
}

#workspaces button:hover {
    color: @muted-col;
}

#clock {
    font-size: large;
}

#waybar #custom-divider {
    color: @eva-green;
}

#waybar #custom-power, 
#waybar #custom-wg_connection,
#waybar #custom-hyprsunset,
#waybar #network {
    font-family: "JetBrainsMono Nerd Font Mono";
    font-size: 30px;
    min-width: 50px;
}

#waybar #custom-wg_connection,
#waybar #network
{
    margin-bottom: -10px;
}

#waybar #custom-power {
    margin-bottom: 10px;
}

#waybar #custom-wg_connection.connected {
    color: @eva-green;
}

#waybar #custom-wg_connection.disconnected {
    color: inherit;
}
