@define-color eva-purple #7b3fa0;
@define-color eva-green #4aad52;
@define-color eva-orange #e8521a;
@define-color module-bg #0d0d0d;
@define-color muted-col #4a5060;

window {
    font-family: 'Times New Roman MT Condensed';
    font-size: 70pt;
    color: #ffffff;
    background-color: black;
}

button {
    margin: 10px;
    background-color: inherit;
    border-color: black;
    border-width: 5px;
    border-style: solid;
}

button * {
    margin-bottom: 70px;
}

button:focus {
    outline: none;
    box-shadow: none;
}

button:hover,
button:focus-visible {
    background-color: rgba(0, 0, 0, 1); 
    color: #ffffff;
    border-color: #ff5e24;
    border-width: 5px;
    border-style: double;
    background-color: #B72725;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; 
}

button span {
    font-size: 1.2em;
}